%section.section
  .container
    .row
      .col-md-12
        %h1
          Drive Api
    .row
      .col-md-12
        #authorize-div
          %span Authorize access to Drive API
          / Button for the user to click to initiate auth sequence
          %button#authorize-button{:onclick => "handleAuthClick(event)"}
            Authorize
    .row
      .col-md-12
        %pre#output
    .row
      .col-md-12
        = link_to 'picker' , picker_path