%section.section
  .container
    .row
      .col-md-12
        %h1
          Drive Api Picker
    .row
      .col-md-12
        %button#picker-button
          OpenPicker
    .row
      .col-md-12
        #result